/* Bulldozer Multipurpose Construction Template */


/************ TABLE OF CONTENTS ***************
1.  Fonts
2.  Reset
3.  Global
4.  Main Header
5.  Main Slider
6.  Top Services
7.  Fact Counter Style One
8.  Our Services / All Three Styles
9.  We Are Best
10. Our Projects / All Two Styles
11. Our Team
12. Testimonials
13. News Area / Blog Area
14. Main Footer
15. Page Banner
16. Featured Services
17. Project Details
18. About Us
19. Contact Us
20. Blog Pages


**********************************************/


@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500,600,700);

@import url('font-awesome.css');
@import url('flaticon.css');
@import url('animate.css');
@import url('hover.css');
@import url('jquery.fancybox.css');
@import url('owl.css');

/*** 

====================================================================
	Reset
====================================================================

 ***/
* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
}

/*** 

====================================================================
	Global Settings
====================================================================

 ***/

body {
	font-family: 'Hind', sans-serif;
	font-size:14px;
	color:#505050;
	line-height:1.6em;
	font-weight:400;
	background:#f9f9f9;
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#ec6e6e;	
}

a:hover,a:focus,a:visited{
	text-decoration:none;
	outline:none;
	color:#ec6e6e;
}

h1,h2,h3,h4,h5,h6 {
	position:relative;
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
	margin:0px;
	background:none;
}

input,button,select,textarea{
	font-family: 'Hind', sans-serif;	
}

/*::-webkit-input-placeholder { color:rgba(0,0,0,0.80);}
::-moz-placeholder { color:rgba(0,0,0,0.80) ;}
:-ms-input-placeholder { color:rgba(0,0,0,0.80) ;}
input:-moz-placeholder { color:rgba(0,0,0,0.80) ;}*/

p{
	position:relative;
	line-height:1.6em;
		
}

.strike-through{
	text-decoration:line-through;	
}

.auto-container{
	position:static;
	max-width:1200px;
	padding:0px 15px;
	margin:0 auto;
}

.page-wrapper{
	position:relative;
	margin:0 auto;
	width:100%;
	min-width:300px;
	min-height:400px;
	overflow:hidden;
	
}

ul,li{
	list-style:none;
	padding:0px;
	margin:0px;	
}

.btn-normal{
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
}

.center{
	text-align:center;	
}

.anim-3,.anim-3-all *{
	transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;	
}

.anim-5,.anim-5-all *{
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;	
}

.anim-7,.anim-7-all *{
	transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-webkit-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;	
}

.theme-bg{
	background-color:#ec6e6e;	
}

.theme-color{
	color:#ec6e6e;	
}

.out{
	opacity:0;	
}

.in{
	opacity:1;	
}

.uppercase{
	text-transform:uppercase !important;	
}

.capitalized{
	text-transform:capitalize !important;	
}

.lowercase{
	text-transform:lowercase !important;	
}

.no-uppercase{
	text-transform:none !important;	
}

.light-btn{
	position:relative;
	display:inline-block;
	padding:10px 30px;
	line-height:26px;
	border:1px solid transparent;
	background:#ec6e6e;
	margin-bottom:5px;
	color:#ffffff;
	text-transform:uppercase;
	font-family:'Hind',sans-serif;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.dark-btn{
	position:relative;
	display:inline-block;
	padding:10px 30px;
	line-height:26px;
	border:1px solid transparent;
	background:#202e31;
	margin-bottom:5px;
	color:#ffffff;
	text-transform:uppercase;
	font-family:'Hind',sans-serif;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.light-btn:hover,
.dark-btn:hover{
	background-color:#ec6e6e;
	border-color:#2d2d2d;
	color:#ffffff;	
}

.primary-btn{
	position:relative;
	left:0px;
	display:inline-block;
	overflow:hidden;
	background:#ec6e6e;
	color:#202e31 !important;
	padding-right:60px;
}

.primary-btn *{
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;	
}

.primary-btn .btn-text{
	position:relative;
	display:block;
	line-height:30px;
	padding:12px 40px 8px 25px;
	font-size:12px;
	font-weight:600;
	text-transform:uppercase;
}

.primary-btn .icon{
	position:absolute;
	right:-10px;
	top:0px;
	display:block;
	line-height:30px;
	padding:10px 30px 10px 25px;
	text-align:center;
	font-size:12px;
	color:#ffffff;
	height:100%;
	background:#202e31;
	transform:skewX(-20deg);
	-ms-transform:skewX(-20deg);
	-o-transform:skewX(-20deg);
	-moz-transform:skewX(-20deg);
	-webkit-transform:skewX(-20deg);
}

.primary-btn.light .icon{
	background:#ffffff;
	color:#202e31;	
}

.primary-btn .icon .f-icon{
	position:relative;
	display:block;
	transform:skewX(20deg);
	-ms-transform:skewX(20deg);
	-o-transform:skewX(20deg);
	-moz-transform:skewX(20deg);
	-webkit-transform:skewX(20deg);
}

.primary-btn:hover .btn-text{
	opacity:1;
	color:#ffffff;	
}

.primary-btn.hvr-bounce-to-left::before{
	background:#202e31;	
}

.we-are-best .primary-btn.hvr-bounce-to-left::before{
	background:#505050;	
}

.preloader{ position:fixed; left:0px; top:0px; width:100%; height:100%; z-index:999999; background-color:#ffffff; background-position:center center; background-repeat:no-repeat; background-image:url(../images/icons/preloader.GIF);}


/*** 

====================================================================
	Main Header style
====================================================================

***/

.main-header{
	position:relative;
	left:0px;
	top:0px;
	width:100%;
	background:#ffffff;
	border-bottom:1px solid #dddddd;
	z-index:999;
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	-moz-transition:all 1s ease;
}

.main-header .header-top{
	position:relative;
	background:#202e31;
	padding:12px 0px;
}

.main-header .header-top *{
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}

.main-header .header-top a{
	color:#777777;	
}

.main-header .header-top a:hover{
	color:#ffffff;	
}

.main-header .header-top .top-left{
	position:relative;
	line-height:26px;	
}

.main-header.style-two .header-top .top-left .phone,
.main-header.style-two .header-top .top-left .email{
	margin-right:40px;
	line-height:26px;
	font-size:13px;
	font-weight:500;
}

.main-header .header-top .top-left .phone,
.main-header .header-top .top-left .email{
	margin-right:0px;
	margin-left:40px;
}

.main-header .header-top .top-left .f-icon{
	position:relative;
	top:0px;
	font-size:14px;
	padding-right:5px;
	color:#ec6e6e;
}

.main-header .header-top .top-right{
	position:relative;
	top:3px;
	font-size:12px;
	line-height:26px;
}

.main-header .header-top ul li{
	position:relative;
	display:inline-block;
	margin:0px 10px;
	color:#5a6163;
}

.main-header .header-top ul li:after{
	content:'|';
	position:absolute;
	right:-11px;
	top:-1px;
	line-height:26px;
	display:inline-block;	
}

.main-header .header-top ul li:last-child:after{
	display:none;
}

.main-header .header-top ul li a{
	position:relative;
	display:block;
	color:#777777;
	line-height:26px;
	text-transform:uppercase;
	font-weight:600;
}

.main-header .header-lower{
	position:relative;
	background:#ffffff;
	min-height:100px;
	padding:20px 0px;
}

.main-header.header-fixed .header-lower{
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	z-index:555;
	border-bottom:1px solid #505050;	
}

.main-header .header-lower .logo{
	position:relative;
	float:left;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .header-lower .logo img{
	position:relative;
	display:inline-block;
	max-width:100%;
	height:auto;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header.style-two .header-lower .logo a{
	z-index:5;	
}

.main-header.style-two .header-lower .logo img{
	margin-top:-30px;
	z-index:5;	
}

.main-header.style-two.header-fixed .header-lower .logo img{
	margin-top:0px;
	height:60px;	
}

.main-header.style-two .header-lower .logo:before{
	content:'';
	position:absolute;
	width:1200px;
	height:152px;
	background:#ec6e6e;
	left:-900px;
	bottom:-20px;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
	z-index:1;	
}

.main-header .header-lower .right-cont{
	position:relative;
	float:right;
	padding:14px 0px;
	padding-right:60px;
}

.main-header .main-menu{
	position:relative;
	transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	-moz-transition:all 1s ease;	
}

.main-header .main-menu .navbar-collapse{
	padding:0px;	
}

.main-header .main-menu .navbar-nav{
	margin:0px;	
}

.main-header .main-menu .navbar-nav > li{
	position:relative;
	padding:0px;
	margin-left:15px;	
}

.main-header .main-menu .navbar-nav > li > a{
	position:relative;
	display:block;
	padding:6px 16px 4px;
	font-size:14px;
	line-height:22px;
	font-weight:600;
	text-transform:uppercase;
	color:#393939;
	opacity:1;
	z-index:2;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .main-menu .navbar-nav > li:after{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#ec6e6e;
	z-index:1;
	opacity:0;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
}

.main-header .main-menu .navbar-nav > li:hover:after,
.main-header .main-menu .navbar-nav > li.current:after,
.main-header .main-menu .navbar-nav > li.current-menu-item:after{
	opacity:1;	
}

.main-header .main-menu .navbar-nav > li > a:hover,
.main-header .main-menu .navbar-nav > li > a:active,
.main-header .main-menu .navbar-nav > li > a:focus{
	background:none;
	color:#ffffff;
	opacity:1;	
}

.main-header .main-menu .navbar-nav > li > a:visited{
	background:none;
}

.main-header .main-menu .navbar-nav > li:hover > a,
.main-header .main-menu .navbar-nav > li.current > a,
.main-header .main-menu .navbar-nav > li.current-menu-item > a,
.main-header .main-menu .navbar-nav > li > ul > li:hover > a{
	color:#ffffff;
	opacity:1;
}

.main-header .main-menu .navbar-nav > li > ul{
	position:absolute;
	left:-4px;
	top:200%;
	width:200px;
	padding:0px;
	border:1px solid rgba(255,255,255,0.50);
	border-top:none;
	z-index:100;
	background:#ec6e6e;
	visibility:hidden;
	opacity:0;
	border-radius:0px 2px 2px 2px;
	-ms-border-radius:0px 2px 2px 2px;
	-webkit-border-radius:0px 2px 2px 2px;
	-moz-border-radius:0px 2px 2px 2px;
	-o-border-radius:0px 2px 2px 2px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .main-menu .navbar-nav > li:hover > ul {
	top:100%;
	opacity:1;
	visibility:visible;	
}

.main-header .main-menu .navbar-nav > li > ul > li.dropdown:before{
	font-family: 'FontAwesome';
	content:'\f0da';
	position:absolute;
	right:7px;
	top:7px;
	width:20px;
	height:20px;
	display:block;
	color:#ffffff;
	line-height:20px;
	font-size:16px;
	text-align:center;
	z-index:5;	
}

.main-header .main-menu .navbar-nav > li > ul > li{
	position:relative;
	float:none;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.50);
}

.main-header .main-menu .navbar-nav > li > ul > li:last-child{
	border:none;	
}

.main-header .main-menu .navbar-nav > li > ul > li > a{
	position:relative;
	display:block;
	padding:5px 20px;
	font-weight:normal;
	font-size:14px;
	color:#ffffff;
	word-wrap:break-word;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .main-menu .navbar-nav > li > ul > li:hover > a{
	padding-left:25px;	
}

.main-header .main-menu .navbar-nav > li > ul > li > ul{
	position:absolute;
	left:200%;
	top:0px;
	width:200px;
	padding:0px;
	border:1px solid rgba(255,255,255,0.50);
	z-index:100;
	background:#ec6e6e;
	visibility:hidden;
	opacity:0;
	border-radius:0px 2px 2px 2px;
	-ms-border-radius:0px 2px 2px 2px;
	-webkit-border-radius:0px 2px 2px 2px;
	-moz-border-radius:0px 2px 2px 2px;
	-o-border-radius:0px 2px 2px 2px;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .main-menu .navbar-nav > li > ul > li:hover > ul {
	left:100%;
	opacity:1;
	visibility:visible;	
}

.main-header .main-menu .navbar-nav > li > ul > li > ul > li{
	position:relative;
	float:none;
	width:100%;
	border-bottom:1px solid rgba(255,255,255,0.50);
}

.main-header .main-menu .navbar-nav > li .navbar-toggle{
	z-index:5;
	position:absolute;
	right:7px;
	top:5px;
	padding:7px 9px;	
}

.main-header .main-menu .navbar-nav > li > ul > li > ul > li:last-child{
	border:none;	
}

.main-header .main-menu .navbar-nav > li > ul > li > ul > li > a{
	position:relative;
	display:block;
	padding:5px 20px;
	font-weight:normal;
	font-size:14px;
	color:#ffffff;
	word-wrap:break-word;
	transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.main-header .main-menu .navbar-nav > li > ul > li > ul > li:hover > a{
	padding-left:25px;	
}

.main-header .search-box{
	position:relative;
	padding:15px 0px;
	background:#ec6e6e;
	color:#ffffff;
	display:none;	
}

.main-header .search-box .search-title{
	position:relative;
	float:left;
}

.main-header .search-box .search-title h2{
	font-size:20px;
	font-weight:600;
	line-height:36px;	
}

.main-header .search-box .search-form{
	position:relative;
	float:right;
	max-width:300px;
	overflow:hidden;
	width:50%;	
}

.main-header .search-box .form-group{
	position:relative;
	display:block;
	padding:0px;
	margin:0px;
	width:100%;
	overflow:hidden;	
}

.main-header .search-box .form-group input[type="search"],
.main-header .search-box .form-group input[type="text"]{
	position:relative;
	display:block;
	width:100%;
	padding:6px 40px 4px 15px;
	border:2px solid #ffffff;
	color:#ffffff;
	font-weight:500;
	font-size:16px;
	line-height:22px;
	background:none;
}

.main-header .search-box .form-group .search-submit{
	position:absolute;
	right:-5px;
	top:0px;
	width:45px;
	height:38px;
	background:#ffffff;
	display:block;
	padding:5px 10px 5px 10px;
	color:#ec6e6e;
	font-size:16px;
	line-height:26px;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.main-header .search-box .form-group .search-submit .f-icon{
	display:inline-block;
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-o-transform:skewX(15deg);
	-moz-transform:skewX(15deg);
}

.main-header .search-btn{
	position:absolute;
	right:0px;
	top:14px;
	width:60px;
	height:32px;
	padding-left:30px;
	cursor:pointer;
}

.main-header .search-btn .f-icon{
	position:relative;
	width:28px;
	height:32px;
	line-height:30px;
	border:2px solid #ec6e6e;
	border-left:none;
	color:#ec6e6e;
	text-align:center;
	padding-right:2px;
}

.main-header .search-btn .curve{
	position:absolute;
	left:22px;
	top:0px;
	width:30px;
	height:32px;
	border:2px solid #ec6e6e;
	border-right:none;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.txt-white{
	color:#ffffff;	
}


/*** 

====================================================================
	Main Slider style
====================================================================

***/

.main-slider{
	position:relative;
	z-index:5;	
}

.main-slider .tp-bannertimer{
	height:4px;
	background:rgba(0,0,0,0.75);	
}

.main-slider h2{
	position:relative;
	font-size:72px;
	font-weight:800;
	line-height:1em;
	color:#202e31;
}

.main-slider .slide-text{
	position:relative;
	font-size:16px;
	line-height:1.8em;
}


/*** 

====================================================================
	Featured Services style
====================================================================

***/

.sec-title{
	position:relative;
	margin-bottom:35px;	
}

.sec-title h2{
	position:relative;
	display:inline-block;
	color:#ffffff;
	line-height:30px;
	font-size:24px;
	padding:10px 30px 10px 15px;
	background:#202e31;
	text-transform:uppercase;
	font-weight:800;
}

.sec-title h2:after{
	content:'';
	position:absolute;
	right:-10px;
	top:0px;
	width:20px;
	height:100%;
	background:#202e31;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.sec-title h2 span{
	position:relative;
	color:#ec6e6e;	
}

.sec-text{
	position:relative;
	font-size:16px;
	line-height:1.6em;
	margin-bottom:50px;	
}

.top-services{
	position:relative;
	padding:80px 0px 50px;
	background:#f9f9f9;
}

.top-services .row{
	margin-left:-30px;
	margin-right:-30px;
}

.top-services .post{
	position:relative;
	padding:0px 15px;
	margin:0 auto 50px;	
}

.top-services .post-inner{
	position:relative;
	max-width:400px;
	padding:0px 15px;
	margin:0 auto;	
}

.top-services .post *{
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.top-services .post .image{
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:1;
}

.top-services .post .image::after{
	content:'';
	position:absolute;
	left:0px;
	top:-100%;
	width:100%;
	height:100%;
	display:block;
	background:#ec6e6e;
	opacity:0.50;
	z-index:0;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.top-services .post:hover .image::after{
	top:0%;	
}

.top-services .post .image img{
	position:relative;
	display:block;
	width:100%;	
}

.top-services .post .image .curve{
	position:absolute;
	right:-100px;
	top:100%;
	width:250%;
	height:150%;
	z-index:1;
	background:#fcfcfc;
	transform:rotate(-13deg);
	-webkit-transform:rotate(-13deg);
	-moz-transform:rotate(-13deg);
	-ms-transform:rotate(-13deg);
	-o-transform:rotate(-13deg);	
}

.top-services .post:hover .image .curve{
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
}

.top-services .post .content{
	position:relative;
	top:0px;
	margin:-44px 30px 0px;
	z-index:2;
}

.top-services .post:hover .content{
	top:46px;	
}

.top-services .post .content:before{
	position:absolute;
    right: 0px;
    top: -36px;
	background:#ffffff;
    content: "";
    height: 96%;
    width: 100%;
	border:1px solid #f1f1f1;
	z-index:0;
    position: absolute;
    transform: skewY(-13deg);
	-webkit-transform: skewY(-13deg);
	-moz-transform: skewY(-13deg);
	-ms-transform: skewY(-13deg);
	-o-transform: skewY(-13deg);
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.top-services .post:hover .content:before,
.top-services .post:hover .content .inner-box{
	border-color:#ec6e6e;	
}

.top-services .post .content .inner-box{
	position:relative;
	background:#ffffff;
	border:1px solid #f1f1f1;
	border-top:none;
	padding:20px 30px 30px;
	z-index:5;	
}

.top-services .post .content h3{
	position:relative;
	padding-left:15px;
	border-left:5px solid #ec6e6e;
	font-size:14px;
	font-weight:800;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:15px;
}

.top-services .post .content .text{
	position:relative;
	font-size:14px;
	font-weight:500;
	line-height:1.6em;
	margin-bottom:15px;
	color:#6e6e6e;
}

.top-services .post .content .read_more{
	position:relative;
	color:#202e31;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}

.top-services .post .content .read_more:hover{
	color:#ec6e6e;	
}

/*** 

====================================================================
	Fact Counter style
====================================================================

***/

.fact-counter{
	position:relative;	
}

/* Style One*/
.fact-counter-one{
	position:relative;
	min-height:250px;
	width:100%;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	overflow:hidden;	
}

.fact-counter-one:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:0;
	background:#ec6e6e;
	opacity: 0.9;
}

.fact-counter-one .inner{
	position:relative;
	max-width:1250px;
	padding:0px 9%;
	margin:0 auto;
	background:url(../images/icons/fun-fact-bg.png) center center no-repeat;
	background-size:cover;
}

.fact-counter-one .column{
	position:relative;
	float:left;
	width:25%;
	height:250px;
	z-index:5;
	text-align:center;
}

.fact-counter-one .column.odd{
	padding-top:110px;
}

.fact-counter-one .column.even{
	padding-top:30px;
}

.fact-counter-one .bg{
	position:relative;
	display:inline-block;
	min-height:110px;
	padding:8px 0px 10px 70px;
	background:url(../images/icons/counter-icon.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
}

.fact-counter-one .bg-1{
	position:relative;
	display:inline-block;
	min-height:110px;
	padding:8px 0px 10px 70px;
	background:url(../images/icons/counter-icon-1.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
}

.fact-counter-one .bg-2{
	position:relative;
	display:inline-block;
	min-height:110px;
	padding:8px 0px 10px 70px;
	background:url(../images/icons/counter-icon-2.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
}

.fact-counter-one .bg-3{
	position:relative;
	display:inline-block;
	min-height:110px;
	padding:8px 0px 10px 70px;
	background:url(../images/icons/counter-icon-3.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
}

.fact-counter-one .content .count-text{
	position:relative;
	display:block;
	font-size:60px;
	font-weight:600;
	line-height:56px;
	margin-bottom:0px;	
}


/* Style Two*/
.fact-counter-two{
	position:relative;
	margin-top:-50px;
	z-index:5;
	background:none;
}

.fact-counter-two .column{
	position:relative;
	float:left;
	width:25%;
	height:160px;
	z-index:5;
	text-align:center;
	background:#ffffff;
	border-right:1px solid #cccccc;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
}

.fact-counter-two .column:last-child{
	border:none;	
}

.fact-counter-two .column.hvr-bounce-to-right::before{
	background:rgba(127,223,229,0.50);	
}

.fact-counter-two .bg{
	position:relative;
	top:36px;
	display:inline-block;
	min-height:110px;
	padding:12px 0px 10px 70px;
	background:url(../images/icons/counter-icon.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-moz-transform:skewX(15deg);
	-o-transform:skewX(15deg);
}

.fact-counter-two .bg-1{
	position:relative;
	top:36px;
	display:inline-block;
	min-height:110px;
	padding:12px 0px 10px 70px;
	background:url(../images/icons/counter-icon-1.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-moz-transform:skewX(15deg);
	-o-transform:skewX(15deg);
}

.fact-counter-two .bg-2{
	position:relative;
	top:36px;
	display:inline-block;
	min-height:110px;
	padding:12px 0px 10px 70px;
	background:url(../images/icons/counter-icon-2.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-moz-transform:skewX(15deg);
	-o-transform:skewX(15deg);
}

.fact-counter-two .bg-3{
	position:relative;
	top:36px;
	display:inline-block;
	min-height:110px;
	padding:12px 0px 10px 70px;
	background:url(../images/icons/counter-icon-3.png) left top no-repeat;
	text-transform:uppercase;
	font-size:12px;
	color:#202e31;
	font-weight:700;
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-moz-transform:skewX(15deg);
	-o-transform:skewX(15deg);
}

.fact-counter-two .content .count-text{
	position:relative;
	display:block;
	font-size:60px;
	font-weight:600;
	line-height:56px;
	margin-bottom:0px;	
}

/*** 

====================================================================
	Our Services style
====================================================================

***/

.services-area{
	position:relative;
	width:100%;
	background:#ffffff;
	padding:100px 0px 80px;
}

.service-tabs{
	position:relative;	
}

.service-tabs .tab-btns{
	position:relative;
	float:left;
	width:22%;
	border:1px solid #f1f1f1;
	border-bottom:none;
	margin-bottom:20px;
}

.service-tabs.style-two .tab-btns{
	float:none;
	width:100%;
	margin-bottom:50px;
	border:1px solid #f1f1f1 !important;
	border-right:none !important;
}

.service-tabs .tab-btns *{
	transition:all 400ms ease;
	-webkit-transition:all 400ms ease;
	-ms-transition:all 400ms ease;
	-o-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
}

.service-tabs .tab-btns .tab-btn{
	position:relative;
	display:block;
	cursor:pointer;
	border-bottom:1px solid #f1f1f1;
	background:#ffffff;
	padding:20px 15px 20px 85px;
	font-size:13px;
}

.service-tabs.style-two .tab-btns .tab-btn{
	width:20%;
	float:left;
	border-bottom:none;	
	border-right:1px solid #f1f1f1;
}

.service-tabs .tab-btns .tab-btn.active-btn{
	background:#ec6e6e;
	color:#ffffff;
	border-color:#ffffff;
	
}

.service-tabs .tab-btns .tab-btn.hvr-bounce-to-bottom:before,
.service-tabs .tab-btns .tab-btn.hvr-bounce-to-top:before,
.service-tabs .tab-btns .tab-btn.hvr-bounce-to-left:before,
.service-tabs .tab-btns .tab-btn.hvr-bounce-to-right:before{
	background:#ec6e6e;	
}

.service-tabs .tab-btns .tab-btn strong{
	position:relative;
	top:1px;
	font-family:'Raleway',sans-serif;	
}

.service-tabs .tab-btns .tab-btn .icon{
	position:absolute;
	left:15px;
	top:20px;
	font-size:36px;
	width:70px;
	line-height:44px;
	color:#ec6e6e;
	text-align:center;
}

.service-tabs .tab-btns .tab-btn .skill{
	position:relative;
	top:-1px;
	color:#acacac;
}

.service-tabs .tab-btns .tab-btn strong{
	position:relative;
	display:block;
	text-transform:uppercase;	
}

.service-tabs .tab-btns .tab-btn:hover .icon,
.service-tabs .tab-btns .tab-btn.active-btn .icon,
.service-tabs .tab-btns .tab-btn:hover .skill,
.service-tabs .tab-btns .tab-btn.active-btn .skill{
	color:#ffffff;
}

.service-tabs .tab-content{
	position:relative;
	float:left;
	width:78%;
}

.service-tabs.style-two .tab-content{
	float:none;
	width:100%;	
}

.service-tabs .tab-content .tab{
	position:relative;
	top:50px;
	display:none;
	visibility:hidden;
	opacity:0;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
}

.service-tabs .tab-content .active-tab{
	top:0px;
	display:block;
	visibility:visible;
	opacity:1;	
}

.service-tabs .tab-content .content-box{
	position:relative;
	float:left;
	width:65%;
	padding:0px 40px;
	font-size:13px;
}

.service-tabs.style-two .tab-content .content-box{
	width:50%;
	padding-left:0px;	
}

.service-tabs .tab-content .content-box h4{
	position:relative;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:15px;
	color:#202e31;
}

.service-tabs .tab-content .tab-text{
	position:relative;
	margin-bottom:30px;	
}

.service-tabs .tab-content .skill-meter{
	position:relative;
	overflow:hidden;
	width:100%;
	margin-bottom:45px;
	height:30px;
	background:#f2f2f2;
}

.service-tabs .tab-content .skill-meter .progress-bar{
	position:relative;
	left:-10px;
	width:85%;
	height:30px;
	color:#ffffff;
	font-size:12px;
	background:#ec6e6e;
	transform:skewX(-20deg);
	-webkit-transform:skewX(-20deg);
	-ms-transform:skewX(-20deg);
	-o-transform:skewX(-20deg);
	-moz-transform:skewX(-20deg);
}

.service-tabs .tab-content .skill-meter .percent{
	position:absolute;
	right:50px;
	top:0px;
	height:30px;
	line-height:32px;
	transform:skewX(20deg);
	-webkit-transform:skewX(20deg);
	-ms-transform:skewX(20deg);
	-o-transform:skewX(20deg);
	-moz-transform:skewX(20deg);
}

.service-tabs .tab-content .work-process{
	position:relative;
}

.service-tabs .tab-content .step{
	position:relative;
	text-align:center;
	color:#acacac;
	font-weight:600;
	font-size:12px;
	text-transform:uppercase;
}

.service-tabs .tab-content .step .num{
	position:relative;
	text-align:center;
	width:36px;
	height:36px;
	line-height:36px;
	display:block;
	margin:0px auto 20px;
	border:2px solid #ec6e6e;
	color:#222222;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.service-tabs .tab-content .step:hover .num{
	background:#ec6e6e;
	color:#ffffff;	
}

.service-tabs .tab-content .step .work{
	display:block;
	color:#202e31;
	margin-top:2px;
}

.service-tabs .tab-content .step:nth-child(2){
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;	
}


.service-tabs .tab-content .featured-box{
	position:relative;
	float:left;
	width:35%;
	padding:0px 0px;
}

.service-tabs.style-two .tab-content .featured-box{
	width:50%;	
}

.service-tabs.style-two.three-column .posts-container{
	position:relative;
	margin-left:-30px;
	margin-right:-30px;
}

.service-tabs.style-two.three-column .tab-content .featured-box{
	width:33.333%;
	padding:0px 30px;
	margin-bottom:50px;
}

.service-tabs .tab-content .featured-box .box-inner{
	position:relative;
	max-width:400px;
	margin:0 auto;	
}

.service-tabs.style-two .tab-content .featured-box .box-inner{
	max-width:550px;
}

.service-tabs .tab-content .featured-box .box-inner *{
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.service-tabs .tab-content .featured-box .box-inner .image{
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:1;
}

.service-tabs .tab-content .featured-box .box-inner .image::after{
	content:'';
	position:absolute;
	left:-100%;
	top:0%;
	width:100%;
	height:100%;
	display:block;
	background:#ec6e6e;
	opacity:0.50;
	z-index:0;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.service-tabs .tab-content .featured-box:hover .box-inner .image::after{
	left:0%;	
}

.service-tabs .tab-content .featured-box .box-inner .image img{
	position:relative;
	display:block;
	width:100%;	
}

.service-tabs .tab-content .featured-box .box-inner .image .curve{
	position:absolute;
	right:-100px;
	top:100%;
	width:250%;
	height:150%;
	z-index:1;
	background:#ffffff;
	transform:rotate(-13deg);
	-webkit-transform:rotate(-13deg);
	-moz-transform:rotate(-13deg);
	-ms-transform:rotate(-13deg);
	-o-transform:rotate(-13deg);	
}

.service-tabs .tab-content .featured-box .box-inner:hover .image .curve{
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-o-transform:rotate(0deg);
}

.service-tabs .tab-content .featured-box .box-inner .content{
	position:relative;
	top:0px;
	margin:-44px 30px 0px;
	z-index:2;
}

.service-tabs.style-two .tab-content .featured-box .box-inner .content{
	margin-top:-64px;	
}

.service-tabs.style-two.three-column .tab-content .featured-box .box-inner .content{
	margin-top:-44px;	
}

.service-tabs .tab-content .featured-box .box-inner:hover .content{
	top:46px;	
}

.service-tabs .tab-content .featured-box .box-inner .content:before{
	position:absolute;
    right: 0px;
    top: -36px;
	background:#ffffff;
    content: "";
    height: 66%;
    width: 100%;
	border:1px solid #f1f1f1;
	z-index:0;
    position: absolute;
    transform: skewY(-13deg);
	-webkit-transform: skewY(-13deg);
	-moz-transform: skewY(-13deg);
	-ms-transform: skewY(-13deg);
	-o-transform: skewY(-13deg);
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.service-tabs.style-two .tab-content .featured-box .box-inner .content:before{
	top:-58px;	
}

.service-tabs.style-two.three-column .tab-content .featured-box .box-inner .content:before{
	top:-36px;	
}

.service-tabs .tab-content .featured-box .box-inner:hover .content:before,
.service-tabs .tab-content .featured-box .box-inner:hover .content .inner-box{
	border-color:#ec6e6e;	
}

.service-tabs .tab-content .featured-box .box-inner .content .inner-box{
	position:relative;
	background:#ffffff;
	border:1px solid #f1f1f1;
	border-top:none;
	padding:20px 30px 30px;
	z-index:5;	
}

.service-tabs.style-two .tab-content .featured-box .box-inner .content .inner-box{
	padding:30px 30px 30px;	
}

.service-tabs.style-two.three-column .tab-content .featured-box .box-inner{
	padding:30px 0px;	
	max-width:420px;
	margin:0 auto;
}

.service-tabs .tab-content .featured-box .box-inner .content h3{
	position:relative;
	padding-left:15px;
	border-left:5px solid #ec6e6e;
	font-size:14px;
	font-weight:800;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:15px;
	color:#202e31;
}

.service-tabs .tab-content .featured-box .box-inner .content h3 span{
	position:relative;
	display:block;
	margin-top:3px;
	color:#cacaca;
	font-size:13px;	
}

.service-tabs .tab-content .featured-box .box-inner .content .text{
	position:relative;
	font-size:14px;
	font-weight:500;
	line-height:1.6em;
	margin-bottom:15px;
	color:#6e6e6e;
}

.service-tabs .tab-content .featured-box .box-inner .content .social{
	position:relative;	
}

.service-tabs .tab-content .featured-box .box-inner .content a{
	color:#ec6e6e;	
}

.service-tabs .tab-content .featured-box .box-inner .content .read_more{
	position:relative;
	color:#202e31;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}

.service-tabs .tab-content .featured-box .box-inner .content .read_more:hover{
	color:#ec6e6e;	
}

/*** 

====================================================================
	We are Best style
====================================================================

***/

.we-are-best{
	position:relative;
	background:#fafafa;	
}

.we-are-best:after{
	content:'';
	position:absolute;
	right:0px;
	top:0px;
	width:54%;
	height:100%;
	background:#202e31;
	z-index:2;
	right:-5%;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.we-are-best .auto-container{
	position:relative;	
}

.we-are-best .image-side{
	position:relative;
	z-index:1;
}

.we-are-best .text-side{
	position:relative;
	color:#ffffff;
	z-index:5;
	padding-top:70px;
	text-align:right;
	padding-left:50px;
}

.we-are-best .text-side h2{
	position:relative;
	font-size:24px;
	font-weight:800;
	text-transform:uppercase;
	color:#ffffff;
	margin:10px 0px 25px;	
}

.we-are-best .text-side h2 span{
	color:#ec6e6e;	
}

.we-are-best .text-side .text{
	position:relative;
	margin-bottom:25px;
	font-size:15px;
	color:#ffffff;	
}

.we-are-best .text-side .primary-btn .icon{
	font-size:18px;	
}

/*** 

====================================================================
	Our Projects style
====================================================================

***/

.our-projects{
	position:relative;
	padding:100px 0px 0px;
	border-bottom:1px solid #f1f1f1;
	background:#ffffff;	
}

.our-projects.with-margin{
	margin-bottom:100px;	
}

.our-projects .filter-tabs{
	position:relative;
	margin-bottom:50px;
}

.our-projects .filter-tabs li{
	position:relative;
	float:left;
	margin:0px 8px 8px 0px;
	padding:4px 25px;
	font-size:11px;
	text-transform:uppercase;
	color:#202e31;
	cursor:pointer;
	font-family:'Raleway',sans-serif;
	font-weight:700;	
}

.our-projects .filter-tabs li:before{
	content:'';
	position:absolute;
	left:0px;
	top:-1px;
	width:100%;
	height:100%;
	border:1px solid #f1f1f1;
	background:none;
	z-index:0;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.our-projects .filter-tabs li:hover:before,
.our-projects .filter-tabs li.active:before{
	background:#ec6e6e;
	color:#ffffff;
	border-color:#ffffff;
}

.our-projects .filter-tabs li:hover,
.our-projects .filter-tabs li.active{
	color:#ffffff;
}

.our-projects .filter-tabs li .btn-txt{
	position:relative;
	z-index:1;	
}

.our-projects .projects-container{
	position:relative;	
}

.our-projects .project-box{
	position:relative;
	width:25%;
	float:left;
	display:none;
	overflow:hidden;
	transition:all 0.7s ease;	
}

.our-projects .project-box .image{
	position:relative;
	width:100%;
	z-index:2;
}

.our-projects .project-box .image img{
	position:relative;
	display:block;
	width:100%;
	height:auto;	
}

.our-projects .project-box .image .zoom-icon{
	position:absolute;
	left:0px;
	top:-100%;
	width:100%;
	height:100%;
	background:url(../images/icons/icon-plus.png) center 40% no-repeat;
	background-color:rgba(32,46,49,0.85);
	opacity:0;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
	z-index:1;
}

.our-projects .project-box:hover .image .zoom-icon{
	top:0%;
	opacity:1;
}

.our-projects .project-box .text-content{
	position:absolute;
	left:0px;
	bottom:-20%;
	width:100.5%;
	height:42%;
	z-index:5;
	border-top:4px solid #ec6e6e;
	background:#ffffff;
	text-align:right;
	padding:0px 30px;
	transform:skewY(-19deg);
	-webkit-transform:skewY(-19deg);
	-ms-transform:skewY(-19deg);
	-o-transform:skewY(-19deg);
	-moz-transform:skewY(-19deg);
}

.our-projects.style-two .project-box .text-content{
	bottom:-1px;
	left:-33px;
	padding:22px 40px 22px 64px;
	height:auto;
	width:100%;
	text-align:left;
	background:rgba(255,255,255,0.95);
	transform:skewX(35deg);
}

.our-projects.style-two .project-box .text-content.hvr-bounce-to-bottom:before{
	background:#ec6e6e;	
}

.our-projects.style-two .project-box .text-content:hover .text{
	color:#ffffff;	
}

.our-projects .project-box .text-content .text{
	position:relative;
	top:-10px;
	color:#b9b9b9;
	transform:skewY(19deg);
	-webkit-transform:skewY(19deg);
	-ms-transform:skewY(19deg);
	-o-transform:skewY(19deg);
	-moz-transform:skewY(19deg);	
}

.our-projects.style-two .project-box .text-content .text{
	top:0px;
	transform:skewX(-35deg);
}

.our-projects .project-box .text-content .text h4{
	font-weight:800;
	font-size:14px;
	text-transform:uppercase;
	color:#202e31;
	margin-top:5px;	
}

/*** 

====================================================================
	Our Team style
====================================================================

***/

.our-team-area{
	position:relative;
	padding:80px 0px 40px;
	background:#ffffff;	
}

.our-team-area .team-member{
	display: block;
	margin: 5px auto 70px;
}

.our-team-area .team-member .image{
	position:relative;
	text-align:center;
	z-index: 0;
}

.our-team-area .team-member .image img{
	position:relative;
	display:inline-block;
	max-width: 100%;
	position: relative;
}

.our-team-area .team-member .content-box{
	position:absolute;
	left:0px;
	bottom:16%;
	display: block;
	width:100%;
	background: none;
}

.our-team-area.style-two .team-member .content-box{
	bottom:-15px;	
}

.our-team-area.style-two .team-member .content-box .info p{
	color:#8c5252;
	text-transform:uppercase;
}

.our-team-area .team-member .content-box .inner{
	position:relative;
	display:block;
	max-width: 300px;
	min-height:180px;
	margin:0 auto;
	background:#ec6e6e;
	transform: skewY(-11deg);
	-webkit-transform: skewY(-11deg);
	-ms-transform: skewY(-11deg);
	-o-transform: skewY(-11deg);
	-moz-transform: skewY(-11deg);
}

.our-team-area .team-member .content-box .inner.hvr-bounce-to-bottom::before,
.our-team-area .team-member .content-box .inner.hvr-bounce-to-top::before{
	background:#ffaeae;	
}

.our-team-area .team-member .content-box .text-content{
	position:relative;
	padding: 54px 48px 20px 30px;
	text-align: left;
	z-index:5;
	transform: skewY(11deg);
	-webkit-transform: skewY(11deg);
	-ms-transform: skewY(11deg);
	-o-transform: skewY(11deg);
	-moz-transform: skewY(11deg);
}
.our-team-area .team-member .content-box .text-content h4{
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	font-size:14px;
	color:#313232;
	margin-bottom:0px;
	text-transform:uppercase;
}
.our-team-area .team-member .content-box .text-content p{
	font-size:14px;
	color:#313232;
	line-height:25px;
}

.our-team-area .team-member .content-box .info p{
	font-size:12px;
	font-family: 'Raleway', sans-serif;
	font-weight:800;
	color:#8c5252;
	margin: 0;
	margin-bottom:10px;
}
.our-team-area .team-member .social-links{
	position:absolute;
	right:0px;
	top:0px;
	width:48px;
	z-index:10;
	transform: skewY(11deg);
	-webkit-transform: skewY(11deg);
	-ms-transform: skewY(11deg);
	-o-transform: skewY(11deg);
	-moz-transform: skewY(11deg);
}
.our-team-area .team-member .social-links:before{
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	border-left: 1px solid #fff;
	height: 99%;
	width: 100%;
	z-index: 0;
}
.our-team-area .team-member .social-links ul{
	position:relative;
	text-align: center;
	margin:0px;
	padding:0px;
	z-index:5;
}
.our-team-area .team-member .social-links ul li{
	position:relative;
	display:block;
	border-bottom:1px solid #fff;
}
.our-team-area .team-member .social-links ul li:last-child{
	border-bottom:none;
}
.our-team-area .team-member .social-links ul li a{
	position:relative;
	display:block;
	padding:13px;
	font-size:14px;
	line-height:20px;
	color:rgba(255,255,255,0.70);
}

.our-team-area .team-member .social-links ul li a:hover{
	color:rgba(255,255,255,1);
}

/*** 

====================================================================
	Testimonials Area style
====================================================================

***/

.testimonials-area{
	position:relative;
	padding:80px 0px 80px;
	width:100%;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
}

.testimonials-area:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:0;
	background:#ec6e6e;
	opacity: 0.9;
}

.testimonials-area .auto-container{
	position:relative;
	max-width:830px;
	z-index:5;
}

.testimonials-area h2{
	position:relative;
	font-size:24px;
	text-transform:uppercase;
	margin-bottom:30px;
	font-weight:800;
	color:#313232;
	text-align:center;
}

.testimonials-area h2 span{
	color:#ffffff;	
}

.testimonials-area .icon-quote{
	position:relative;
	margin-bottom:30px;
	font-size:30px;
	color:#ffffff;
	text-align:center;	
}

.testimonials-area .slide-item{
	text-align:center;
	font-size:15px;
	font-style:italic;
	color:#313232;
	padding:0px 15px;
	line-height:1.8em;	
}

.testimonials-area .custom-pager{
	position:relative;
	margin:50px 0px 10px;
}

.testimonials-area .custom-pager .pager-item{
	position:relative;
	display:block;
	float:left;
	width:33.333%;
	padding:24px 10px 0px 95px;
	font-size:14px;
	color:#8c5252;	
}

.testimonials-area .custom-pager .pager-item strong{
	font-family:'Raleway',sans-serif;
	color:#313232;
	display:block;	
}

.testimonials-area .custom-pager .testi-thumb{
	position:absolute;
	left:0px;
	top:0px;
	width:80px;
	height:80px;
	border:5px solid #ffaeae;
	background:#ffffff;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	transition:all 1.5s ease;
	-webkit-transition:all 1.5s ease;
	-ms-transition:all 1.5s ease;
	-o-transition:all 1.5s ease;
	-moz-transition:all 1.5s ease;
	overflow:hidden;
}

.testimonials-area .custom-pager .testi-thumb img{
	position:relative;
	display:block;
	width:70px;
	height:70px;
	opacity:0.40;	
}

.testimonials-area .custom-pager .pager-item.active .testi-thumb{
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-moz-transform:rotate(360deg);	
}

.testimonials-area .custom-pager .pager-item.active .testi-thumb img{
	opacity:1;
}

/*** 

====================================================================
	News Area style
====================================================================

***/

.news-area{
	position:relative;
	padding:80px 0px;
	width:100%;
	background:#fcfcfc;
}

.news-area .slide-item{
	position:relative;	
}

.news-area .slide-item .image{
	position:relative;
	width:100%;	
}

.news-area .slide-item .image:before{
	content:'';
	position:absolute;
	left:300px;
	top:0px;
	width:56px;
	height:100%;
	background:#fcfcfc;
	z-index:1;
	transform:skewX(-10deg);
	-webkit-transform:skewX(-10deg);
	-ms-transform:skewX(-10deg);
	-o-transform:skewX(-10deg);
	-moz-transform:skewX(-10deg);
}

.news-area .slide-item .image img{
	position:relative;
	display:block;
	width:auto !important;	
}

.news-area .slide-item .content-box{
	position:absolute;
	right:0px;
	top:0px;
	padding:25px 0px;
}

.news-area .slide-item .content-box .text-content{
	position:relative;
	width:280px;
	padding:25px 20px 25px 30px;
	background:#ffffff;
	border:1px solid #f1f1f1;
	border-left:none;
	z-index:5;
}

.news-area .slide-item .content-box .text-content h3,
.news-area .slide-item .content-box .text-content .info,
.news-area .slide-item .content-box .text-content .text,
.news-area .slide-item .content-box .text-content .link-btn{
	z-index:3;
}

.news-area .slide-item .content-box .text-content:before{
	content:'';
	position:absolute;
	left:-24px;
	top:-0.5%;
	margin-bottom:-1px;
	width:44px;
	height:101%;
	background:#ffffff;
	border:1px solid #f1f1f1;
	border-left:4px solid #ec6e6e;
	border-right:none;
	z-index:1;
	transform:skewX(-10deg);
	-webkit-transform:skewX(-10deg);
	-ms-transform:skewX(-10deg);
	-o-transform:skewX(-10deg);
	-moz-transform:skewX(-10deg);
}

.news-area .slide-item .content-box .text-content h3{
	position:relative;
	font-size:14px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:7px;	
}

.news-area .slide-item .content-box .text-content .info{
	position:relative;
	font-size:14px;
	color:#878787;
	margin-bottom:15px;	
}

.news-area .slide-item .content-box .text-content h3 a,
.news-area .slide-item .content-box .text-content .info a{
	color:#202e31;	
}

.news-area .slide-item .content-box .text-content h3 a:hover{
	color:#ec6e6e;	
}

.news-area .slide-item .content-box .text-content .text{
	position:relative;
	font-size:14px;
	color:#595959;
	margin-bottom:20px;	
}

.news-area .slide-item .content-box .text-content .primary-btn .btn-text{
	padding:8px 10px 6px 20px !important;
}

.news-area .slide-item .content-box .text-content .primary-btn .icon{
	padding:6px 25px 6px 20px;
}

.news-area .owl-nav{
	position:absolute;
	right:0px;
	top:-110px;
	width:100px;
	height:54px;
}

.news-area .owl-dots{
	display:none !important;	
}

.news-area .owl-nav .owl-prev,
.news-area .owl-nav .owl-next{
	position:absolute;
	border:1px solid #eeeeee;
	top:0px !important;
	width:30px !important;
	height:64px !important;
	line-height:54px !important;
	padding:5px 5px !important;
	font-size:0px !important;
	overflow:hidden !important;
	color:#f1c410 !important;
	text-align:center !important;
	background:none !important;
	border-radius:0% !important;
	-webkit-border-radius:0% !important;
	-ms-border-radius:0% !important;
	-o-border-radius:0% !important;
	-moz-border-radius:0% !important;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;	
}

.news-area .owl-nav .owl-prev{
	right:36px;
}

.news-area .owl-nav .owl-next{
	right:0px;
}

.news-area .owl-nav .owl-prev:after,
.news-area .owl-nav .owl-next:after{
	font-size:20px !important;
	color:#313131;
	font-family: 'FontAwesome';
}

.news-area .owl-nav .owl-prev:after{
	content: "\f104";
}

.news-area .owl-nav .owl-next:after{
	content: "\f105";
}

.news-area .owl-nav .owl-prev:hover,
.news-area .owl-nav .owl-next:hover{
	background:#ec6e6e !important;
	color:#ffffff;
	border-color:#ec6e6e;	
}

.news-area .owl-nav .owl-prev:hover:after,
.news-area .owl-nav .owl-next:hover:after{
	color:#ffffff;
}

/*** 

====================================================================
	Clients style
====================================================================

***/

.client-logo{
	position:relative;
	padding:30px 0px;
	width:100%;
	background:#ffffff;
	border-top:1px solid #f1f1f1;
}

.client-logo .slider-container{
	position:relative;
	padding:0px 30px;
}

.client-logo .slider-container li{
	text-align:center;	
}

.client-logo .slider-container li img{
	width:auto !important;
	display:inline-block !important;
	opacity:0.40;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.client-logo .slider-container li img:hover{
	opacity:1;	
}

.client-logo .owl-controls{
	margin:0px !important;	
}

.client-logo .owl-nav{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:0px;
}

.client-logo .owl-dots{
	display:none !important;	
}

.client-logo .owl-nav .owl-prev,
.client-logo .owl-nav .owl-next{
	position:absolute;
	border:1px solid #eeeeee;
	top:0px !important;
	width:30px !important;
	height:64px !important;
	line-height:54px !important;
	padding:5px 5px !important;
	margin:0px !important;
	font-size:0px !important;
	overflow:hidden !important;
	color:#f1c410 !important;
	text-align:center !important;
	background:none !important;
	border-radius:0% !important;
	-webkit-border-radius:0% !important;
	-ms-border-radius:0% !important;
	-o-border-radius:0% !important;
	-moz-border-radius:0% !important;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;	
}

.client-logo .owl-nav .owl-prev{
	left:-30px;
}

.client-logo .owl-nav .owl-next{
	right:-30px;
}

.client-logo .owl-nav .owl-prev:after,
.client-logo .owl-nav .owl-next:after{
	font-size:20px !important;
	color:#313131;
	font-family: 'FontAwesome';
}

.client-logo .owl-nav .owl-prev:after{
	content: "\f104";
}

.client-logo .owl-nav .owl-next:after{
	content: "\f105";
}

.client-logo .owl-nav .owl-prev:hover,
.client-logo .owl-nav .owl-next:hover{
	background:#ec6e6e !important;
	color:#ffffff;
	border-color:#ec6e6e;	
}

.client-logo .owl-nav .owl-prev:hover:after,
.client-logo .owl-nav .owl-next:hover:after{
	color:#ffffff;
}

/*** 

====================================================================
	Main Footer style
====================================================================

***/

.main-footer{
	position:relative;
	background:#202e31;
	color:#ffffff;
}

.main-footer .subscribe-area{
	position:relative;
	margin:0px 30px;
	padding:20px 30px;
	background:#ec6e6e;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.main-footer .subscribe-area .subs-box{
	position:relative;
	max-width:660px;
	padding:12px 0px 12px 40px;
	min-height:0px;
	margin:0 auto;
	background:url(../images/icons/envelop_bg.png) left center no-repeat;
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-o-transform:skewX(15deg);
	-moz-transform:skewX(15deg);	
}

.main-footer .subscribe-area h2{
	position:relative;
	top:1px;
	font-size:24px;
	text-transform:uppercase;
	color:#202e31;
	padding:10px 0px;
	line-height:30px;
	font-weight:700;	
}

.main-footer .subscribe-area h2 span{
	color:#ffffff;	
}

.main-footer .subscribe-area .form-box{
	padding:0px;	
}

.main-footer .subscribe-area .form-group{
	position:relative;
	margin:0px;
	padding:0px;
	overflow:hidden;	
}

.main-footer .subscribe-area .form-group input[type="email"],
.main-footer .subscribe-area .form-group input[type="text"]{
	position:relative;
	display:block;
	width:100%;
	line-height:30px;
	background:#ffffff;
	color:#202e31;
	padding:10px 80px 10px 15px;
}

.main-footer .subscribe-area .form-group input[type="submit"],
.main-footer .subscribe-area .form-group button[type="submit"]{
	position:absolute;
	right:-8px;
	top:0px;
	display:block;
	width:80px;
	height:50px;
	line-height:30px;
	text-align:center;
	background:#202e31;
	color:#d3d4d4;
	font-size:18px;
	padding:12px 15px 10px 5px;
	transform:skewX(-15deg);
	-webkit-transform:skewX(-15deg);
	-ms-transform:skewX(-15deg);
	-o-transform:skewX(-15deg);
	-moz-transform:skewX(-15deg);
}

.main-footer .subscribe-area .form-group button[type="submit"] .fa{
	transform:skewX(15deg);
	-webkit-transform:skewX(15deg);
	-ms-transform:skewX(15deg);
	-o-transform:skewX(15deg);
	-moz-transform:skewX(15deg);		
}

.main-footer .subscribe-area .form-group button[type="submit"]:hover{
	color:#ffffff;	
}

.main-footer .footer-widget-area{
	position:relative;
	padding:60px 0px 20px;
	margin:0px -30px;	
}

.main-footer .footer-widget-area .footer-widget{
	position:relative;
	padding:0px 40px !important;
	margin-bottom:30px;
}

.main-footer .footer-widget-area .footer-widget h3{
	position:relative;
	font-size:18px;
	text-transform:uppercase;
	margin-bottom:25px;
	font-weight:700;
}

.main-footer .footer-widget-area .footer-widget h3 img{
	position:relative;
	margin-top:-5px;	
}

.main-footer .footer-widget-area .about-widget,
.main-footer .footer-widget-area .quick-links,
.main-footer .footer-widget-area .address,
.main-footer .footer-widget-area .latest-work{
	position:relative;
}

.main-footer .about-widget p{
	color:#c1c2c2;
	margin-bottom:20px;
	line-height:1.6em;
}

.main-footer .footer-widget .widget-content *{
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.main-footer .quick-links ul li{
	position:relative;
	padding-left:20px;
	line-height:24px;
	margin-bottom:7px;
}

.main-footer .quick-links ul li .fa{
	position:absolute;
	left:0px;
	top:0px;
	line-height:18px;
	color:#ec6e6e;
	font-size:15px;
}

.main-footer .quick-links ul li a{
	display:block;
	color:#e8e8e8;	
}

.main-footer .footer-widget a:hover{
	color:#ec6e6e;	
}

.main-footer .address .info{
	position:relative;
	margin-bottom:20px;	
}

.main-footer .address .info li{
	position:relative;
	color:#c1c2c2;
	margin-bottom:7px;	
}

.main-footer .address .info li a{
	position:relative;
	color:#c1c2c2;
}

.main-footer .address .info li a:hover{
	color:#ec6e6e;	
}

.main-footer .address .info li .fa{
	position:relative;
	color:#ec6e6e;
}

.main-footer .address .social{
	position:relative;
}

.main-footer .address .social a{
	position:relative;
	display:inline-block;
	width:30px;
	height:30px;
	line-height:22px;
	padding:3px;
	text-align:center;
	color:#606060;
	border:2px solid #606060;
	background:none;
	margin-right:3px;
}

.main-footer .address .social a:hover{
	border-color:#ec6e6e;
	background:#ec6e6e;
	color:#202e31;
}

.main-footer .latest-work ,.widget-content{
	max-width:400px;	
}

.main-footer .latest-work .image{
	position:relative;
	float:left;
	width:33.333%;
	border:2px solid #202e31;
	overflow:hidden;	
}

.main-footer .latest-work .image img{
	display:block;
	width:100%;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.main-footer .latest-work .image img:hover{
	opacity:0.75;
	transform:scale(1.1,1.1);
	-webkit-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
}

.main-footer .footer-bottom{
	position:relative;
	line-height:24px;
	padding:18px 0px;
	color:#7a7b7b;
	background:#1d282b;
	font-size:13px;
	font-weight:500;
}

.main-footer .footer-bottom a{
	color:#ec6e6e;	
}

/*** 

====================================================================
	Page Banner style
====================================================================

***/

.page-banner{
	position:relative;
	padding:60px 0px 50px;
	background-color:#555555;
	color:#ffffff;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
}

.page-banner:before{
	content:'';
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:0;
	background:rgba(0,0,0,0.70);	
}

.page-banner h1{
	position:relative;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:30px;
	font-weight:800;
	z-index:5;	
}

.page-banner h1:after{
	content:'';
	position:relative;
	top:5px;
	display:block;
	width:35px;
	height:3px;
	margin:5px auto 0px;
	background:#ffffff;	
}

.page-banner .bread-crumb{
	position:relative;
	margin:0px;
	padding:0px;
	z-index:5;
}

.page-banner .bread-crumb li{
	position:relative;
	display:inline-block;
	line-height:24px;
	font-size:14px;
	margin:0px 10px;
}

.page-banner .bread-crumb li:after{
	content:'/';
	position:absolute;
	right:-20px;
	top:0px;
	display:inline;
	margin:0px 5px;
	line-height:24px;
}

.page-banner .bread-crumb li:last-child:after{
	display:none;	
}

.page-banner .bread-crumb li a{
	position:relative;
	color:#ffffff;
	display:block;	
}

.page-banner .bread-crumb li a:hover{
	color:#ec6e6e;	
}


/*** 

====================================================================
	Featured Services style
====================================================================

***/

.featured-services{
	position:relative;
	padding:80px 0px 50px;	
}

.featured-services .row{
	margin-left:-20px;
	margin-right:-20px;
}

.featured-services .column{
	position:relative;
	padding:0px 15px;
}

.featured-services .post{
	position:relative;
	margin:0 auto 40px;	
}

.featured-services .column .post-inner{
	position:relative;
	max-width:760px;
	padding:0px 0px;
	margin:0 auto;	
}

.featured-services .post *{
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.featured-services .post .image{
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:1;
}

.featured-services .post .image::after{
	content:'';
	position:absolute;
	left:0px;
	top:-100%;
	width:100%;
	height:100%;
	display:block;
	background:#ec6e6e;
	opacity:0.50;
	z-index:0;
	transform:scale(0,0);
	-webkit-transform:scale(0,0);
	-ms-transform:scale(0,0);
	-o-transform:scale(0,0);
	-moz-transform:scale(0,0);
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.featured-services .post:hover .image::after{
	top:0;
	transform:scale(1,1);
	-webkit-transform:scale(1,1);
	-ms-transform:scale(1,1);
	-o-transform:scale(1,1);
	-moz-transform:scale(1,1);
}

.featured-services .post .image img{
	position:relative;
	display:block;
	width:100%;	
}

.featured-services .post .image .curve{
	position:absolute;
	z-index:1;
	right:-112px;
	top:100%;
	width:258%;
	height:150%;
	background:#f9f9f9;
	transform:rotate(-13deg);
	-webkit-transform:rotate(-13deg);
	-moz-transform:rotate(-13deg);
	-ms-transform:rotate(-13deg);
	-o-transform:rotate(-13deg);	
}

.featured-services .post .content{
	position:relative;
	top:0px;
	margin:-44px 30px 0px;
	z-index:2;
}

.featured-services .big-post .content{
	margin-top:-96px;	
}

.featured-services .post .content:before{
	position:absolute;
    right: 0px;
    top: -36px;
	background:#ffffff;
    content: "";
    height: 66%;
    width: 100%;
	border:1px solid #f1f1f1;
	z-index:0;
    position: absolute;
    transform: skewY(-13deg);
	-webkit-transform: skewY(-13deg);
	-moz-transform: skewY(-13deg);
	-ms-transform: skewY(-13deg);
	-o-transform: skewY(-13deg);
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.featured-services .big-post .content:before{
	height:96%;
	top:-86px;	
}

.featured-services .post:hover .content:before,
.featured-services .post:hover .content .inner-box{
	border-color:#ec6e6e;	
}

.featured-services .post .content .inner-box{
	position:relative;
	background:#ffffff;
	border:1px solid #f1f1f1;
	border-top:none;
	padding:20px 30px 30px;
	z-index:5;	
}

.featured-services .post .content h3{
	position:relative;
	padding-left:15px;
	border-left:5px solid #ec6e6e;
	font-size:14px;
	font-weight:800;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:15px;
}

.featured-services .post .content .text{
	position:relative;
	font-size:14px;
	font-weight:500;
	line-height:1.6em;
	margin-bottom:15px;
	color:#6e6e6e;
}

.featured-services .post .content .read_more{
	position:relative;
	color:#202e31;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}

.featured-services .post .content .read_more:hover{
	color:#ec6e6e;	
}


/*** 

====================================================================
	Project Details style
====================================================================

***/

.project-details{
	position:relative;
	padding:90px 0px 60px;
	background:#ffffff;	
}

.project-details .proj-title{
	position:relative;
	margin-bottom:30px;	
}

.project-details .proj-title h2{
	position:relative;
	font-size:24px;
	color:#202e31;
	text-transform:uppercase;
	font-weight:800;	
}

.project-details .row{
	margin-left:-20px;
	margin-right:-20px;
}

.project-details .column{
	position:relative;
	padding:0px 15px;
}

.project-details .post{
	position:relative;
	margin:0 auto 40px;	
}

.project-details .column .post-inner{
	position:relative;
	max-width:760px;
	padding:0px 0px;
	margin:0 auto;	
}

.project-details .post .image{
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:1;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.project-details .post .image::after{
	content:'';
	position:absolute;
	right:0px;
	top:0px;
	width:100%;
	height:100%;
	display:block;
	background:#ec6e6e;
	opacity:0;
	z-index:0;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.project-details .post:hover .image::after{
	opacity:0.50;
}

.project-details .post .image img{
	position:relative;
	display:block;
	width:100%;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;	
}

.project-details .post .image .curve{
	position:absolute;
	right:-112px;
	top:100%;
	width:258%;
	height:150%;
	z-index:1;
	background:#ffffff;
	transform:rotate(-13deg);
	-webkit-transform:rotate(-13deg);
	-moz-transform:rotate(-13deg);
	-ms-transform:rotate(-13deg);
	-o-transform:rotate(-13deg);
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;	
}

.project-details .post .content{
	position:relative;
	top:0px;
	margin:-44px 30px 0px;
	z-index:2;
}

.project-details .detail-content .content{
	margin-top:-96px;	
}

.project-details .post .content:before{
	position:absolute;
    right: 0px;
    top: -36px;
	background:#ffffff;
    content: "";
    height: 66%;
    width: 100%;
	border:1px solid #f1f1f1;
	z-index:0;
    position: absolute;
    transform: skewY(-13deg);
	-webkit-transform: skewY(-13deg);
	-moz-transform: skewY(-13deg);
	-ms-transform: skewY(-13deg);
	-o-transform: skewY(-13deg);
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.project-details .detail-content .content:before{
	height:96%;
	top:-86px;	
}

.project-details .post:hover .content:before,
.project-details .post:hover .content .inner-box{
	border-color:#ec6e6e;	
}

.project-details .post .content .inner-box{
	position:relative;
	background:#ffffff;
	border:1px solid #f1f1f1;
	border-top:none;
	padding:20px 30px 30px;
	z-index:5;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;
}

.project-details .detail-content .content .inner-box{
	padding:40px 40px;
}

.project-details .post .post-inner h3{
	position:relative;
	padding-left:15px;
	border-left:5px solid #ec6e6e;
	font-size:14px;
	font-weight:800;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:15px;
	color:#202e31;
}

.project-details .post .post-inner h3 span{
	position:relative;
	display:block;
	margin-top:3px;
	color:#cacaca;
	font-size:13px;	
}

.project-details .post .content .text{
	position:relative;
	font-size:14px;
	font-weight:500;
	line-height:1.6em;
	margin-bottom:15px;
	color:#6e6e6e;
}

.project-details .post .content .social{
	position:relative;	
}

.project-details .post .content a{
	color:#ec6e6e;
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;	
}

.project-details .post .content .read_more{
	position:relative;
	color:#202e31;
	font-size:12px;
	font-weight:700;
	text-transform:uppercase;
}

.project-details .post .content .read_more:hover{
	color:#ec6e6e;	
}

.project-details .project-info{
	position:relative;	
}

.project-details .project-info li{
	position:relative;
	float:left;
	width:33.333%;
	line-height:24px;
	padding:5px 0px 0px;
	color:#929292;
	font-size:14px;	
}

.project-details .project-info li strong{
	font-weight:600;
	color:#5f5f5f;
}

.project-details .project-slider{
	position:relative;
	margin-bottom:50px;	
}

.project-details .project-slider img{
	transition:all 700ms ease;
	-moz-transition:all 700ms ease;
	-webkit-transition:all 700ms ease;
	-ms-transition:all 700ms ease;
	-o-transition:all 700ms ease;	
}

.project-details .project-slider img:hover{
	opacity:0.50;
}

.project-details .owl-nav{
	position:absolute;
	right:-4px;
	top:-100px;
	width:100px;
	height:54px;
}

.project-details .owl-dots{
	display:none !important;	
}

.project-details .owl-nav .owl-prev,
.project-details .owl-nav .owl-next{
	position:absolute;
	border:1px solid #eeeeee;
	top:0px !important;
	width:30px !important;
	height:64px !important;
	line-height:54px !important;
	padding:5px 5px !important;
	font-size:0px !important;
	overflow:hidden !important;
	color:#f1c410 !important;
	text-align:center !important;
	background:none !important;
	border-radius:0% !important;
	-webkit-border-radius:0% !important;
	-ms-border-radius:0% !important;
	-o-border-radius:0% !important;
	-moz-border-radius:0% !important;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;	
}

.project-details .owl-nav .owl-prev{
	right:36px;
}

.project-details .owl-nav .owl-next{
	right:0px;
}

.project-details .owl-nav .owl-prev:after,
.project-details .owl-nav .owl-next:after{
	font-size:20px !important;
	color:#313131 !important;
	font-family: 'FontAwesome';
}

.project-details .owl-nav .owl-prev:after{
	content: "\f104";
}

.project-details .owl-nav .owl-next:after{
	content: "\f105";
}

.project-details .owl-nav .owl-prev:hover,
.project-details .owl-nav .owl-next:hover{
	background:#ec6e6e !important;
	color:#ffffff !important;
	border-color:#ec6e6e;	
}

.project-details .owl-nav .owl-prev:hover:after,
.project-details .owl-nav .owl-next:hover:after{
	color:#ffffff !important;
}

.project-details .goal{
	padding-top:20px;	
}

.project-details .goal .primary-btn{
	display:block;	
}

.project-details .goal .primary-btn .icon{
	font-size:24px;	
}

/*** 

====================================================================
	About Us style
====================================================================

***/

.about-us-area{
	position:relative;
	background:#fcfcfc;
}

.about-us-area .about-upper{
	position:relative;
	background:#fafafa;
	padding:80px 0px 0px;	
}

.about-us-area .about-upper .image img{
	position:relative;
	display:inline-block;
	max-width:100%;	
}

.about-us-area .about-lower{
	position:relative;
	background:#fafafa;
	padding:80px 0px 60px;	
}

.about-us-area .about-lower .quote-slider{
	position:relative;
	max-width:600px;
	margin:0 auto 20px;
}

.about-us-area .quote-slider .slide-item{
	position:relative;
	width:100%;		
}

.about-us-area .quote-slider .slide-item .big-image{
	position:relative;
	display:block;
	width:100%;
	height:auto;	
}

.about-us-area .quote-slider .slide-item .content-box{
	position:absolute;
	left:0px;
	bottom:0px;
	padding:20px;
	background:none;
}

.about-us-area .quote-slider .slide-item .content{
	position:relative;
	padding:25px 25px 25px 130px;
	background:rgba(255,255,255,0.95);
}

.about-us-area .quote-slider .slide-item .content .quote-thumb{
	position:absolute;
	left:25px;
	top:25px;
	width:80px;
	height:80px;
	overflow:hidden;	
}

.about-us-area .quote-slider .slide-item .content .quote-thumb img{
	display:block;
	width:80px;
	height:80px;	
}

.about-us-area .quote-slider .slide-item .content .quote-text{
	position:relative;
	line-height:1.7em;
	margin-bottom:15px;
}

.about-us-area .quote-slider .slide-item .content .quote-author{
	position:relative;
	padding-left:8px;
	border-left:3px solid #ec6e6e;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	line-height:14px;
	margin-bottom:0px;
	color:#202e31;
}

.about-us-area .quote-slider .owl-dots{
	display:none !important;	
}

.about-us-area .text-blocks{
	position:relative;	
}

.about-us-area .text-block{
	position:relative;
	margin-bottom:45px;	
}

.about-us-area .text-block h3{
	position:relative;
	font-size:14px;
	font-weight:800;
	margin-bottom:20px;
	text-transform:uppercase;	
}

.about-us-area .text-block .text{
	position:relative;
	font-size:14px;
	line-height:1.6em;
}

/*** 

====================================================================
	Contact Us style
====================================================================

***/

.info-strip{
	position:relative;
	padding:60px 0px 30px;
	text-align:center;
	background:#ec6e6e;
	color:#ffffff;	
}

.info-strip .info-block{
	position:relative;
	margin-bottom:30px;
}

.info-strip .info-block *{
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;	
}

.info-strip .info-block .icon{
	width:70px;
	height:70px;
	margin:0 auto 20px;
	padding:21px;
	line-height:20px;
	color:#ffffff;
	border:4px solid #ffaeae;
	background:#dc6161;
	border-radius:50%;
	-webkit-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;	
}

.info-strip .info-block .icon.hvr-radial-out::before{
	background:#ffffff;	
}

.info-strip .info-block:hover .icon{
	border-color:rgba(255,255,255,0.80);
}

.info-strip .info-block .icon:hover{
	color:#ec6e6e;
}

.info-strip .info-block .icon .f-icon{
	position:relative;
	font-size:20px;	
}

.info-strip .info-block h4{
	position:relative;
	font-size:16px;
	color:#202e31;
	font-family:'Hind', sans-serif;
	font-weight:600;
	margin-bottom:10px;
}

.info-strip .info-block p,
.info-strip .info-block a{
	color:#8c5252;
	margin:0px;
	font-size:14px;
}

.info-strip .info-block a:hover{
	color:#ffffff;	
}

.contact-us-area{
	position:relative;
	padding:90px 0px;
	background:#ffffff;	
}

.contact-us-area .row{
	margin-left:-20px;
	margin-right:-20px;	
}

.contact-us-area .contact-form,
.contact-us-area .map-area{
	padding:0px 20px;	
}

.contact-us-area h2{
	position:relative;
	font-size:14px;
	font-weight:800;
	text-transform:uppercase;
	margin-bottom:30px;	
}

.contact-us-area .contact-form{
	position:relative;
	margin-bottom:30px;	
}

.contact-us-area .field-container{
	position:relative;
	margin-left:-10px;
	margin-right:-10px;	
}

.contact-us-area .contact-form .form-group{
	position:relative;
	padding:0px 10px;
	margin-bottom:10px;	
}

.contact-us-area .contact-form input[type="text"],
.contact-us-area .contact-form input[type="password"],
.contact-us-area .contact-form input[type="email"],
.contact-us-area .contact-form input[type="tel"],
.contact-us-area .contact-form input[type="number"],
.contact-us-area .contact-form input[type="file"],
.contact-us-area .contact-form input[type="url"],
.contact-us-area .contact-form select,
.contact-us-area .contact-form textarea{
	position:relative;
	display:block;
	width:100%;
	line-height:24px;
	padding:12px 20px;
	font-size:13px;
	color:#202020;
	border:1px solid #dddddd;
	background:#ffffff;
	transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
}

.contact-us-area .contact-form input[type="text"]:focus,
.contact-us-area .contact-form input[type="password"]:focus,
.contact-us-area .contact-form input[type="email"]:focus,
.contact-us-area .contact-form input[type="tel"]:focus,
.contact-us-area .contact-form input[type="number"]:focus,
.contact-us-area .contact-form input[type="file"]:focus,
.contact-us-area .contact-form input[type="url"]:focus,
.contact-us-area .contact-form select:focus,
.contact-us-area .contact-form textarea:focus{
	border-color:#202020;	
}

.contact-us-area .contact-form input.error{
	border-color:#ff0000 !important;
	background:rgba(255,0,0,0.05);
}

.contact-us-area .contact-form label.error{
	display:none !important;	
}

.contact-us-area .contact-form textarea{
	height:200px;
	resize:none;
	margin-bottom:10px;	
}

.contact-us-area .contact-form button .icon{
	font-size:20px;	
}

.contact-us-area .our-location{
	position:relative;
	border:10px solid #ffffff;
	height:320px;
	width:100%;
	box-shadow:0px 0px 1px 0px rgba(0,0,0,0.40);
	-webkit-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.40);
	-ms-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.40);
	-o-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.40);
	-moz-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.40);	
}

/*** 

====================================================================
	Blog style
====================================================================

***/

.blog-area {
	color: #434343;
	padding: 50px 0 50px;
	background: #F8F8F8;
}

.blog-area p {
    margin: 0 0 15px;
	font-size: 15px;
}

.blog-area .post{
	background-color: #ffffff;
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;	
}

.blog-area .col-md-8 {
	padding-right:0px;
}

.blog-area .post-content{
	background-color:#ffffff;
	padding:30px 40px;
}

.post-content i {
	font-size:20px;
	font-weight:700;
	font-family: 'Raleway',serif;
	font-style:italic;
}

.post-item h2 {
	text-align:left;
	margin-bottom: 40px;
	font-family: 'Raleway',serif;
	font-size:30px;
}

.post-item h2, .post-item h2 a {
	color:#0c1f34;
	font-family: 'Raleway',serif;
	font-weight: bold;
}

.post-item h2:hover, .post-item h2 a:hover {
	color:#ec6e6e;
}

.blog-area .posted-date {
	margin-top:15px;
	color: #ec6e6e;
}
.single .posted-date {
	margin-bottom: 15px;
	margin-top:0px;
}
.post-nav {
	text-align:center;
	margin-top: -40px;
}
.pagination > li > a, .pagination > li > span {
	margin:0 4px;
	background-color:#ec6e6e;
	color:#fff;
	font-weight:700;
	border-radius:4px;	
	border:none;
}
.pagination > li > a:hover,
.pagination > li.active {
	background:#0c1f34;
	color:#ffffff;
	border:none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background:#0c1f34;
	color:#ffffff;
	border:none;
}

.share-btn .btn{
	margin-right:10px;	
}

/*-------------- SideBar ---------------*/

.sidebar {
	margin-left: 20px;
	margin-top: 73px;
}
.sidebar .widget {
	position:relative;
	margin-bottom:40px;
	padding:30px;
	background-color:#ffffff;
}
.search {
	margin-bottom:30px;
	position:relative;
}
.search form {
	padding: 20px 30px;
	height: 70px;
	border: none;
	box-shadow: 0 5px 13px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
}

.search input[type="search"]::-moz-placeholder {color: #0c1f34;}
.search input[type="search"] {	
	font-size:15px;
	font-weight:300;
	width: 100%;
	border: none;
}

.search input[type="submit"] {
	background: url(../images/search.png) no-repeat scroll 0 0 / 100% 100%;
	width: 30px;
	height: 30px;
	border: none;
	text-indent: -999999px;
	position:absolute;right:15px;
	bottom:20px;
}

.sidebar .widget h2 {
	font-size:20px;
	font-family: 'Raleway',serif;
	font-weight:bold;
	margin-bottom:30px;
	color:#cccccc;
	text-align:left;
	text-transform:uppercase;
}

.sidebar .widget h3,
.sidebar .widget h3 a {
	font-size:20px;
	color:#0c1f34;
	text-align:left;
	font-family: 'Raleway',serif;
	font-weight: bold;
	
}

.sidebar .widget h3,
.sidebar .widget h3 a {
	font-size:16px;
	margin:0px 0px;
	display:block;
}

.sidebar .widget h3:hover,
.sidebar .widget h3 a:hover {
	color: #ec6e6e;
}

.sidebar .widget img {
	position:absolute;
	left:30px;
}

.sidebar .widget li {
	margin-bottom:20px;
}

.sidebar .category-list li {
	margin-bottom:0px;
}

.sidebar .widget .content {
	margin-left:100px;
	min-height:85px;
}
.category-list li {
	padding:16px 0;
	margin-bottom:0px;
	border-bottom:1px solid rgba(0,0,0,.1);
}


/*---------------- Author -------------*/

.blog-area .author {
	background-color:#ffffff;
	position:relative;
	min-height:275px;
	margin-bottom:40px;
}
.blog-area .author img {
	position:absolute;
}
.blog-area .author-comment {
	margin-left:260px;
	padding:30px 30px;
}

.blog-area .author-comment h5 { font-size:18px;}

/*---------------- Comments -------------*/


.title-head {
	font-size:46px;
	font-weight:900;
	margin-bottom:40px;
}
.comment-list li {
	margin:0px 0 90px 0;
	position:relative;
}
.comment-list li img {
	border-radius:50%;
	width:130px;
	height:130px;
	position:absolute;
}
.comment-details {
	margin-left:180px;	
}
.blog-area .comments {
	background-color:#ffffff;
	padding:40px;
	border-radius:10px;
}

.blog-area .comments:before {
	border-style: solid;
	border-width:  0 0 30px 30px;
	top: 50px;
	content: "";
	display: block;
	left: 165px;
	position: absolute;
	width: 0;
	z-index: 1;
	border-color: transparent #ffffff;		
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
}

.blog-area .comments p {
	margin-bottom:0px;
	font-family: 'Raleway',serif;
	font-size: 15px;
}

.comment-meta {
	min-height:50px;
}

.comment-meta .user-name {
	float:left;
	font-weight:700;
	width:50%;
}

.comment-meta .posted-date {
	float:right;
	width:50%;
	text-align:right;
}

.reply {
	height:30px;
	padding:4px 30px;
	margin:0px 40px;
	text-transform:uppercase;
	border-radius:0;
	font-weight:700;
	float:right;
	background: #0c1f34;
	color: #fff;
}

.reply:hover {
	background: #ec6e6e;
	color: #fff;
}

.comments-form .btn {
	text-transform:uppercase;
}

.comment-area input[type="text"], .comment-area input[type="phone"], .comment-area textarea, .comment-area input[type="email"] {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ec6e6e !important;
	width:auto;
	padding: 15px 12px;
	display:block;
	margin:12px 16px; margin-left:0px !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height:54px;
	line-height:52px;
	width:85%;
}

.comment-area textarea {
	height:auto;
	line-height:20px;
	width:98%;
	min-height:180px;
	resize:none;
}
.comment-area button {
	margin-right:15px;
}

.comment-area button,
.comment-area input[type="submit"]{
	position:relative;
	display:inline-block;
	line-height:24px;
	padding:8px 30px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	background:#18263a;
	margin-top:20px;
}

.comment-area button:hover,
.comment-area input[type="submit"]:hover{
	color:#ffffff;
	background:#ec6e6e;
}









