
POST http://localhost/ozzane/reports/patient_history_data
    
200 OK
        64ms    
jquery....min.js (line 6)
HeadersPostResponseHTMLCookies

<div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>Employee ID</th><th>Date</th><th>Lines</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>2014-06-13 01:32:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>4</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>30</td><td>2014-06-13</td><td>2014-07-03</td><td></td><td>Gastrostomy Tube </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr>                
               
            </tbody>
        </table>
    </div>
<div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>Employee ID</th><th>Date</th><th>Lines</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>2014-06-13 01:32:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>4</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>30</td><td>2014-06-13</td><td>2014-07-03</td><td></td><td>Gastrostomy Tube </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-13 01:38:49</td><td>Plasmodium malariae malaria</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>5</td><td>5</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>20</td><td>2014-06-13</td><td>2014-06-30</td><td></td><td>Mucous Membrane</td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr>                
               
            </tbody>
        </table>
    </div>
<div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>Employee ID</th><th>Date</th><th>Lines</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>2014-06-13 01:32:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>4</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>30</td><td>2014-06-13</td><td>2014-07-03</td><td></td><td>Gastrostomy Tube </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-13 01:38:49</td><td>Plasmodium malariae malaria</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>5</td><td>5</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>20</td><td>2014-06-13</td><td>2014-06-30</td><td></td><td>Mucous Membrane</td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-19 16:22:24</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>6</td><td>6</td><td>Cartridge</td><td>1 time per day</td><td>mL</td><td>400</td><td>20</td><td>2014-06-19</td><td>2014-07-01</td><td></td><td>Buccal </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr><tr><td>7</td><td>6</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>50</td><td>2014-06-19</td><td>2014-06-23</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr>                
               
            </tbody>
        </table>
    </div>
<div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>Employee ID</th><th>Date</th><th>Lines</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>2014-06-13 01:32:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>4</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>30</td><td>2014-06-13</td><td>2014-07-03</td><td></td><td>Gastrostomy Tube </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-13 01:38:49</td><td>Plasmodium malariae malaria</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>5</td><td>5</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>20</td><td>2014-06-13</td><td>2014-06-30</td><td></td><td>Mucous Membrane</td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-19 16:22:24</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>6</td><td>6</td><td>Cartridge</td><td>1 time per day</td><td>mL</td><td>400</td><td>20</td><td>2014-06-19</td><td>2014-07-01</td><td></td><td>Buccal </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr><tr><td>7</td><td>6</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>50</td><td>2014-06-19</td><td>2014-06-23</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-20 14:57:57</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>7</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>12</td><td>2014-06-20</td><td>2014-07-01</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr>                
               
            </tbody>
        </table>
    </div>
<div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>Employee ID</th><th>Date</th><th>Lines</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>2014-06-13 01:32:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>4</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>30</td><td>2014-06-13</td><td>2014-07-03</td><td></td><td>Gastrostomy Tube </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-13 01:38:49</td><td>Plasmodium malariae malaria</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>5</td><td>5</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>20</td><td>2014-06-13</td><td>2014-06-30</td><td></td><td>Mucous Membrane</td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-19 16:22:24</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>6</td><td>6</td><td>Cartridge</td><td>1 time per day</td><td>mL</td><td>400</td><td>20</td><td>2014-06-19</td><td>2014-07-01</td><td></td><td>Buccal </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr><tr><td>7</td><td>6</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>50</td><td>2014-06-19</td><td>2014-06-23</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-20 14:57:57</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>7</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>12</td><td>2014-06-20</td><td>2014-07-01</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-20 15:05:22</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>9</td><td>8</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>30</td><td>2014-06-20</td><td>2014-06-30</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr>                
               
            </tbody>
        </table>
    </div>
<div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>Employee ID</th><th>Date</th><th>Lines</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>2014-06-13 01:32:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>4</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>30</td><td>2014-06-13</td><td>2014-07-03</td><td></td><td>Gastrostomy Tube </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-13 01:38:49</td><td>Plasmodium malariae malaria</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>5</td><td>5</td><td>Capsule</td><td>3 times per day</td><td>mg</td><td>200</td><td>20</td><td>2014-06-13</td><td>2014-06-30</td><td></td><td>Mucous Membrane</td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-19 16:22:24</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>6</td><td>6</td><td>Cartridge</td><td>1 time per day</td><td>mL</td><td>400</td><td>20</td><td>2014-06-19</td><td>2014-07-01</td><td></td><td>Buccal </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr><tr><td>7</td><td>6</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>50</td><td>2014-06-19</td><td>2014-06-23</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-20 14:57:57</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>7</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>12</td><td>2014-06-20</td><td>2014-07-01</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>1</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-20 15:05:22</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>9</td><td>8</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>30</td><td>2014-06-20</td><td>2014-06-30</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr><tr><td>8</td><td>2014-06-21 00:28:00</td><div class="row-fluid">
        <div class="row-fluid">
        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
            <thead>
                <tr>
                <th>#</th><th>Prescription ID</th><th>Form</th><th>Dosage</th><th>Unit</th><th>Dose</th><th>Quantity</th><th>Start Date</th><th>End Date</th><th>Comments</th><th>Admin. route</th><th>Number of Refills</th><th>Treament Duration</th><th>Administration Hours</th><th>Units</th><th>Review Date</th><th>Allow Substitution</th>                </tr>
            </thead>
            <tbody>
                <tr><td>10</td><td>9</td><td>Aerosol metered-dose</td><td>1 time per day</td><td>mL</td><td>400</td><td>4</td><td>2014-06-21</td><td>2014-06-29</td><td></td><td>Apply Externally </td><td>0</td><td> </td><td></td><td>0</td><td>0000-00-00</td><td>0</td></tr>                
               
            </tbody>
        </table>
    </div>
</tr><tr><td></tr></tr>                
               
            </tbody>
        </table>
    </div>
