/* USER PROFILE PAGE */
 .card {

    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


.right-cont2{
    position:relative;
    float:right;
    padding:14px 0px;
    padding-right:60px;
}
.main-menu2{
    position:relative;
    transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;    
}

.main-menu2 .navbar-collapse{
    padding:0px;    
}

.main-menu2 .navbar-nav{
    margin:0px; 
}
.main-menu2 .navbar-nav > li{
    position:relative;
    padding:0px;
    margin-left:15px;   
}
.main-menu2 .navbar-nav > li > a{
    position:relative;
    display:block;
    padding:6px 16px 4px;
    font-size:14px;
    line-height:22px;
    font-weight:600;
    text-transform:uppercase;
    color:#393939;
    opacity:1;
    z-index:2;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

.main-menu2 .navbar-nav > li:after{
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background:#ec6e6e;
    z-index:1;
    opacity:0;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transform:skewX(-15deg);
    -ms-transform:skewX(-15deg);
    -o-transform:skewX(-15deg);
    -moz-transform:skewX(-15deg);
    -webkit-transform:skewX(-15deg);
}

 .main-menu2 .navbar-nav > li:hover:after,
 .main-menu2 .navbar-nav > li.current:after,
.main-menu2 .navbar-nav > li.current-menu-item:after{
    opacity:1;  
}

.main-menu2 .navbar-nav > li > a:hover,
 .main-menu2 .navbar-nav > li > a:active,
 .main-menu2 .navbar-nav > li > a:focus{
    background:none;
    color:#ffffff;
    opacity:1;  
}

.main-menu2 .navbar-nav > li > a:visited{
    background:none;
}

.main-menu2 .navbar-nav > li:hover > a,
 .main-menu2 .navbar-nav > li.current > a,
.main-menu2 .navbar-nav > li.current-menu-item > a,
 .main-menu2 .navbar-nav > li > ul > li:hover > a{
    color:#ffffff;
    opacity:1;
}

.main-menu2 .navbar-nav > li > ul{
    position:absolute;
    left:-4px;
    top:200%;
    width:200px;
    padding:0px;
    border:1px solid rgba(255,255,255,0.50);
    border-top:none;
    z-index:100;
    background:#ec6e6e;
    visibility:hidden;
    opacity:0;
    border-radius:0px 2px 2px 2px;
    -ms-border-radius:0px 2px 2px 2px;
    -webkit-border-radius:0px 2px 2px 2px;
    -moz-border-radius:0px 2px 2px 2px;
    -o-border-radius:0px 2px 2px 2px;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

 .main-menu2 .navbar-nav > li:hover > ul {
    top:100%;
    opacity:1;
    visibility:visible; 
}

 .main-menu2 .navbar-nav > li > ul > li.dropdown:before{
    font-family: 'FontAwesome';
    content:'\f0da';
    position:absolute;
    right:7px;
    top:7px;
    width:20px;
    height:20px;
    display:block;
    color:#ffffff;
    line-height:20px;
    font-size:16px;
    text-align:center;
    z-index:5;  
}

.main-menu2 .navbar-nav > li > ul > li{
    position:relative;
    float:none;
    width:100%;
    border-bottom:1px solid rgba(255,255,255,0.50);
}

 .main-menu2 .navbar-nav > li > ul > li:last-child{
    border:none;    
}

 .main-menu2 .navbar-nav > li > ul > li > a{
    position:relative;
    display:block;
    padding:5px 20px;
    font-weight:normal;
    font-size:14px;
    color:#ffffff;
    word-wrap:break-word;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

 .main-menu2 .navbar-nav > li > ul > li:hover > a{
    padding-left:25px;  
}

 .main-menu2 .navbar-nav > li > ul > li > ul{
    position:absolute;
    left:200%;
    top:0px;
    width:200px;
    padding:0px;
    border:1px solid rgba(255,255,255,0.50);
    z-index:100;
    background:#ec6e6e;
    visibility:hidden;
    opacity:0;
    border-radius:0px 2px 2px 2px;
    -ms-border-radius:0px 2px 2px 2px;
    -webkit-border-radius:0px 2px 2px 2px;
    -moz-border-radius:0px 2px 2px 2px;
    -o-border-radius:0px 2px 2px 2px;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

 .main-menu2 .navbar-nav > li > ul > li:hover > ul {
    left:100%;
    opacity:1;
    visibility:visible; 
}

 .main-menu2 .navbar-nav > li > ul > li > ul > li{
    position:relative;
    float:none;
    width:100%;
    border-bottom:1px solid rgba(255,255,255,0.50);
}

 .main-menu2 .navbar-nav > li .navbar-toggle{
    z-index:5;
    position:absolute;
    right:7px;
    top:5px;
    padding:7px 9px;    
}

 .main-menu2 .navbar-nav > li > ul > li > ul > li:last-child{
    border:none;    
}

 .main-menu2 .navbar-nav > li > ul > li > ul > li > a{
    position:relative;
    display:block;
    padding:5px 20px;
    font-weight:normal;
    font-size:14px;
    color:#ffffff;
    word-wrap:break-word;
    transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -webkit-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
}

.main-menu2 .navbar-nav > li > ul > li > ul > li:hover > a{
    padding-left:25px;  
}