/*
 * Icons
 */
.olcom-icon-personnel{
	background:url('images/personnel.png') no-repeat;
	margin-left:8px;
	margin-top:8px;
	
}
.olcom-icon-hr{
	background:url('images/human_resource.png') no-repeat;
	margin-left:8px;
	margin-top:8px;
	
}
.olcom-icon-um{
		background:url('images/user_management.png') no-repeat;
		margin-left:8px;
		margin-top:8px;
}
.olcom-icon-patients{
        background:url('images/patients.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-medicaments{
        background:url('images/medicaments.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-prescriptions{
        background:url('images/prescriptions.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-assets{
        background:url('images/assets.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-laboratory{
        background:url('images/laboratory.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-appointments{
        background:url('images/appointments.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-hospitalizations{
        background:url('images/hospitalizations.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-billing{
        background:url('images/billing.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-reports{
        background:url('images/reports.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
.olcom-icon-blood{
        background:url('images/blood.png') no-repeat;
        margin-left:8px;
        margin-top:8px;
}
/*
  * 
  * datatable navigation
  */
.prev,.next,.first,.last{
    background-color:#f9f9f9;
    border-color:#d9d9d9;
    border:1px solid;
    padding:8px;
}
.disabled{
	color:#999;
	background-color:transparent;
	cursor:pointer;
	border-color: #D9D9D9;
	
}

.enabled{
	cursor:pointer;
	border-color: #D9D9D9;
	color:#6FAED9;
}
.prev:hover,.next:hover,.first:hover,.last:hover{
	border-color:#6faed9;
	background-color:#6faed9;
	color:#fff;
}

/*
 * 
 * dialogs
 */
.olcom-dialog {
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
  font-size:14px;
}
.olcom-dialog-info{
  background-color:#3A87AD;
  border-color:#BCE8F1;
  color:#fff;
  font-size:14px;
  line-height:38px;
  margin-bottom:1px;
  padding-left:12px;
}
.olcom-dialog-error{
  background-color:#B94A48;
  border-color:#BCE8F1;
  color:#fff;
  font-size:14px;
  line-height:38px;
  margin-bottom:1px;
  padding-left:12px;
}
.olcom-dialog-warning{
  background-color:#C09853;
  border-color:#BCE8F1;
  color:#fff;
  font-size:14px;
  line-height:38px;
  margin-bottom:1px;
  padding-left:12px;
}
.olcom-dialog-success{
  background-color:#468847;
  border-color:#BCE8F1;
  color:#fff;
  font-size:14px;
  line-height:38px;
  margin-bottom:1px;
  padding-left:12px;
}
.daterangepicker , .max-z-index{
    z-index: 99999;
}
 
